@import url('./fonts/font-face.css');

.font-akshar {
    font-family: 'Akshar', sans-serif;
}

.font-alkatra {
    font-family: 'Alkatra', sans-serif;
}

.font-amiko {
    font-family: 'Amiko', sans-serif;
}

.font-amita {
    font-family: 'Amita', sans-serif;
}

.font-anek-devanagari {
    font-family: 'Anek Devanagari', sans-serif;
}

.font-annapurna-sil {
    font-family: 'Annapurna SIL', sans-serif;
}

.font-arya {
    font-family: 'Arya', sans-serif;
}

.font-asar {
    font-family: 'Asar', sans-serif;
}

.font-bakbak-one {
    font-family: 'Bakbak One', sans-serif;
}

.font-baloo-2 {
    font-family: 'Baloo 2', sans-serif;
}

.font-biryani {
    font-family: 'Biryani', sans-serif;
}

.font-cambay {
    font-family: 'Cambay', sans-serif;
}

.font-dekko {
    font-family: 'Dekko', sans-serif;
}

.font-eczar {
    font-family: 'Eczar', sans-serif;
}

.font-gajraj-one {
    font-family: 'Gajraj One', sans-serif;
}

.font-glegoo {
    font-family: 'Glegoo', sans-serif;
}

.font-gotu {
    font-family: 'Gotu', sans-serif;
}

.font-halant {
    font-family: 'Halant', sans-serif;
}

.font-hind {
    font-family: 'Hind', sans-serif;
}

.font-ibm-plex-sans-devnagari {
    font-family: 'IBM Plex Sans Devnagari', sans-serif;
}

.font-inknut-antiqua {
    font-family: 'Inknut Antiqua', sans-serif;
}

.font-jaini {
    font-family: 'Jaini', sans-serif;
}

.font-jaini-purva {
    font-family: 'Jaini Purva', sans-serif;
}

.font-jaldi {
    font-family: 'Jaldi', sans-serif;
}

.font-kadwa {
    font-family: 'Kadwa', sans-serif;
}

.font-kalam {
    font-family: 'Kalam', sans-serif;
}

.font-karma {
    font-family: 'Karma', sans-serif;
}

.font-khand {
    font-family: 'Khand', sans-serif;
}

.font-khula {
    font-family: 'Khula', sans-serif;
}

.font-kurale {
    font-family: 'Kurale', sans-serif;
}

.font-laila {
    font-family: 'Laila', sans-serif;
}

.font-martel {
    font-family: 'Martel', sans-serif;
}

.font-martel-sans {
    font-family: 'Martel Sans', sans-serif;
}

.font-modak {
    font-family: 'Modak', sans-serif;
}

.font-mukta {
    font-family: 'Mukta', sans-serif;
}

.font-noto-sans {
    font-family: 'Noto Sans', sans-serif;
}

.font-noto-sans-devanagari {
    font-family: 'Noto Sans Devanagari', sans-serif;
}

.font-noto-serif-devanagari {
    font-family: 'Noto Serif Devanagari', sans-serif;
}

.font-palanquin {
    font-family: 'Palanquin', sans-serif;
}

.font-palanquin-dark {
    font-family: 'Palanquin Dark', sans-serif;
}

.font-pragati-narrow {
    font-family: 'Pragati Narrow', sans-serif;
}

.font-rajdhani {
    font-family: 'Rajdhani', sans-serif;
}

.font-ranga {
    font-family: 'Ranga', sans-serif;
}

.font-rhodium-libre {
    font-family: 'Rhodium Libre', sans-serif;
}

.font-rozha-one {
    font-family: 'Rozha One', sans-serif;
}

.font-sahitya {
    font-family: 'Sahitya', sans-serif;
}

.font-sarala {
    font-family: 'Sarala', sans-serif;
}

.font-sarpanch {
    font-family: 'Sarpanch', sans-serif;
}

.font-sumana {
    font-family: 'Sumana', sans-serif;
}

.font-sura {
    font-family: 'Sura', sans-serif;
}

.font-teko {
    font-family: 'Teko', sans-serif;
}

.font-tiliana {
    font-family: 'Tiliana', sans-serif;
}

.font-tiro-devanagari-hindi {
    font-family: 'Tiro Devanagari Hindi', sans-serif;
}

.font-tiro-devanagari-marathi {
    font-family: 'Tiro Devanagari Marathi', sans-serif;
}

.font-tiro-devanagari-sanskrit {
    font-family: 'Tiro Devanagari Sanskrit', sans-serif;
}

.font-vesper-libre {
    font-family: 'Vesper Libre', sans-serif;
}

.font-yantramanav {
    font-family: 'Yantramanav', sans-serif;
}

.font-yatra-one {
    font-family: 'Yatra One', sans-serif;
}

.font-0001_arap__bk {
    font-family: '0001 ARAP  BK', sans-serif;
}

.font-001__arap_graphic {
    font-family: '001  Arap Graphic', sans-serif;
}

.font-0012__arap__bi {
    font-family: '0012  ARAP  BI', sans-serif;
}

.font-0012__arap {
    font-family: '0012  ARAP', sans-serif;
}

.font-0017__arap {
    font-family: '0017  ARAP', sans-serif;
}

.font-003_arap {
    font-family: '003 ARAP', sans-serif;
}

.font-aakriti {
    font-family: 'Aakriti', sans-serif;
}

.font-abhinav {
    font-family: 'Abhinav', sans-serif;
}

.font-ananda_devanagari_ktm {
    font-family: 'Ananda Devanagari KTM', sans-serif;
}

.font-ananda_devanagari_np {
    font-family: 'Ananda Devanagari NP', sans-serif;
}

.font-ananda_fanko_2 {
    font-family: 'Ananda Fanko 2', sans-serif;
}

.font-ananda_lipi_bold_bt {
    font-family: 'Ananda Lipi Bold Bt', sans-serif;
}

.font-ananda_lipi_bold_cn_bt {
    font-family: 'Ananda Lipi Bold Cn Bt', sans-serif;
}

.font-ananda_lipi_bt {
    font-family: 'Ananda Lipi Bt', sans-serif;
}

.font-ananda_lipi_cn_bt {
    font-family: 'Ananda Lipi Cn Bt', sans-serif;
}

.font-ananda_lipi_lt_bt {
    font-family: 'Ananda Lipi Lt Bt', sans-serif;
}

.font-ananda_thopla {
    font-family: 'Ananda Thopla Regular', sans-serif;
}

.font-ananda_ukaliorali_2 {
    font-family: 'Ananda Ukaliorali 2 Regular', sans-serif;
}

.font-ananda_ukaliorali_3 {
    font-family: 'Ananda Ukaliorali 3 Regular', sans-serif;
}

.font-ananda_ukaliorali {
    font-family: 'Ananda ukaliorali Regular', sans-serif;
}

.font-anandaround {
    font-family: 'Anandaround', sans-serif;
}

.font-anandasansar {
    font-family: 'AnandaSansar', sans-serif;
}

.font-anandazz_hv {
    font-family: 'Anandazz Hv', sans-serif;
}

.font-anandazz_lt {
    font-family: 'Anandazz Lt', sans-serif;
}

.font-arap__003 {
    font-family: 'ARAP  003', sans-serif;
}

.font-arap__006 {
    font-family: 'ARAP  006', sans-serif;
}

.font-arap_002 {
    font-family: 'ARAP 002', sans-serif;
}

.font-arap_004 {
    font-family: 'ARAP 004', sans-serif;
}

.font-arap_008 {
    font-family: 'ARAP 008', sans-serif;
}

.font-arap_009 {
    font-family: 'ARAP 009', sans-serif;
}

.font-arap_010 {
    font-family: 'ARAP 010 Normal', sans-serif;
}

.font-arap_1111 {
    font-family: 'ARAP 1111', sans-serif;
}

.font-arap007 {
    font-family: 'ARAP007', sans-serif;
}

.font-bahunbad {
    font-family: 'Bahunbad', sans-serif;
}

.font-banban {
    font-family: 'Banban BoldItalic', sans-serif;
}

.font-bantawa {
    font-family: 'Bantawa', sans-serif;
}

.font-bhaktapur {
    font-family: 'Bhaktapur Regular', sans-serif;
}

.font-bikrant_bold {
    font-family: 'Bikrant Bold', sans-serif;
}

.font-bina {
    font-family: 'Bina Bold', sans-serif;
}

.font-bishwa_calligraphy {
    font-family: 'Bishwa Calligraphy', sans-serif;
}

.font-cv_bihani {
    font-family: 'CV Bihani', sans-serif;
}

.font-cv_gadah {
    font-family: 'CV Gadah', sans-serif;
}

.font-cv_haha {
    font-family: 'CV Haha', sans-serif;
}

.font-cv_rabinbold {
    font-family: 'CV Rabinbold', sans-serif;
}

.font-deepankar {
    font-family: 'Deepankar', sans-serif;
}

.font-dev_nep {
    font-family: 'Dev Nep', sans-serif;
}

.font-gadha {
    font-family: 'Gadha', sans-serif;
}

.font-ganga_1 {
    font-family: 'Ganga 1', sans-serif;
}

.font-himalayabold {
    font-family: 'Himalayabold Regular', sans-serif;
}

.font-himalli {
    font-family: 'Himalli Regular', sans-serif;
}

.font-kalpanauttam_i {
    font-family: 'KalpanaUttam i', sans-serif;
}

.font-kam {
    font-family: 'Kam', sans-serif;
}

.font-kanchan {
    font-family: 'Kanchan Regular', sans-serif;
}

.font-katmandu {
    font-family: 'Katmandu Regular', sans-serif;
}

.font-khelkud {
    font-family: 'khelkud', sans-serif;
}

.font-kirti {
    font-family: 'Kirti bold', sans-serif;
}

.font-maiya {
    font-family: 'Maiya', sans-serif;
}

.font-meghana {
    font-family: 'Meghana', sans-serif;
}

.font-meghubold {
    font-family: 'Meghubold', sans-serif;
}

.font-mkali {
    font-family: 'MKali', sans-serif;
}

.font-mulchand {
    font-family: 'MulChand', sans-serif;
}

.font-mulram {
    font-family: 'MulRam', sans-serif;
}

.font-old_nepali {
    font-family: 'Old Nepali', sans-serif;
}

.font-pagal {
    font-family: 'Pagal', sans-serif;
}

.font-pagali {
    font-family: 'Pagali', sans-serif;
}

.font-parvati {
    font-family: 'Parvati', sans-serif;
}

.font-pawang {
    font-family: 'PawanG', sans-serif;
}

.font-preeti {
    font-family: 'Preeti', sans-serif;
}

.font-ritu {
    font-family: 'Ritu', sans-serif;
}

.font-rukmini {
    font-family: 'Rukmini', sans-serif;
}

.font-sapana {
    font-family: 'Sapana', sans-serif;
}

.font-shangrila_textual {
    font-family: 'Shangrila Textual', sans-serif;
}

.font-shreenath_bold {
    font-family: 'Shreenath Bold', sans-serif;
}

.font-suvadin {
    font-family: 'Suvadin', sans-serif;
}

.font-timila {
    font-family: 'Timila', sans-serif;
}

.font-unnisha {
    font-family: 'Unnisha', sans-serif;
}