@font-face {
    font-family: 'Akshar';
    src: url('Akshar.ttf') format('truetype');
}

@font-face {
    font-family: 'Alkatra';
    src: url('Alkatra.ttf') format('truetype');
}

@font-face {
    font-family: 'Amiko';
    src: url('Amiko.ttf') format('truetype');
}

@font-face {
    font-family: 'Amita';
    src: url('Amita.ttf') format('truetype');
}

@font-face {
    font-family: 'Anek Devanagari';
    src: url('AnekDevanagari.ttf') format('truetype');
}

@font-face {
    font-family: 'Annapurna SIL';
    src: url('AnnapurnaSIL.ttf') format('truetype');
}

@font-face {
    font-family: 'Arya';
    src: url('Arya.ttf') format('truetype');
}

@font-face {
    font-family: 'Asar';
    src: url('Asar.ttf') format('truetype');
}

@font-face {
    font-family: 'Bakbak One';
    src: url('BakbakOne.ttf') format('truetype');
}

@font-face {
    font-family: 'Baloo 2';
    src: url('Baloo2.ttf') format('truetype');
}

@font-face {
    font-family: 'Biryani';
    src: url('Biryani.ttf') format('truetype');
}

@font-face {
    font-family: 'Cambay';
    src: url('Cambay.ttf') format('truetype');
}

@font-face {
    font-family: 'Dekko';
    src: url('Dekko.ttf') format('truetype');
}

@font-face {
    font-family: 'Eczar';
    src: url('Eczar.ttf') format('truetype');
}

@font-face {
    font-family: 'Gajraj One';
    src: url('GajrajOne.ttf') format('truetype');
}

@font-face {
    font-family: 'Glegoo';
    src: url('Glegoo.ttf') format('truetype');
}

@font-face {
    font-family: 'Gotu';
    src: url('Gotu.ttf') format('truetype');
}

@font-face {
    font-family: 'Halant';
    src: url('Halant.ttf') format('truetype');
}

@font-face {
    font-family: 'Hind';
    src: url('Hind.ttf') format('truetype');
}

@font-face {
    font-family: 'IBM Plex Sans Devnagari';
    src: url('IBMPlexSansDevanagari.ttf') format('truetype');
}

@font-face {
    font-family: 'Inknut Antiqua';
    src: url('InknutAntiqua.ttf') format('truetype');
}

@font-face {
    font-family: 'Jaini';
    src: url('Jaini.ttf') format('truetype');
}

@font-face {
    font-family: 'Jaini Purva';
    src: url('JainiPurva.ttf') format('truetype');
}

@font-face {
    font-family: 'Jaldi';
    src: url('Jaldi.ttf') format('truetype');
}

@font-face {
    font-family: 'Kadwa';
    src: url('Kadwa.ttf') format('truetype');
}

@font-face {
    font-family: 'Kalam';
    src: url('Kalam.ttf') format('truetype');
}

@font-face {
    font-family: 'Karma';
    src: url('Karma.ttf') format('truetype');
}

@font-face {
    font-family: 'Khand';
    src: url('Khand.ttf') format('truetype');
}

@font-face {
    font-family: 'Khula';
    src: url('Khula.ttf') format('truetype');
}

@font-face {
    font-family: 'Kurale';
    src: url('Kurale.ttf') format('truetype');
}

@font-face {
    font-family: 'Laila';
    src: url('Laila.ttf') format('truetype');
}

@font-face {
    font-family: 'Martel';
    src: url('Martel.ttf') format('truetype');
}

@font-face {
    font-family: 'Martel Sans';
    src: url('MartelSans.ttf') format('truetype');
}

@font-face {
    font-family: 'Modak';
    src: url('Modak.ttf') format('truetype');
}

@font-face {
    font-family: 'Mukta';
    src: url('Mukta.ttf') format('truetype');
}

@font-face {
    font-family: 'Noto Sans';
    src: url('NotoSans.ttf') format('truetype');
}

@font-face {
    font-family: 'Noto Sans Devanagari';
    src: url('NotoSansDevanagari.ttf') format('truetype');
}

@font-face {
    font-family: 'Noto Serif Devanagari';
    src: url('NotoSerifDevanagari.ttf') format('truetype');
}

@font-face {
    font-family: 'Palanquin';
    src: url('Palanquin.ttf') format('truetype');
}

@font-face {
    font-family: 'Palanquin Dark';
    src: url('PalanquinDark.ttf') format('truetype');
}

@font-face {
    font-family: 'Pragati Narrow';
    src: url('PragatiNarrow.ttf') format('truetype');
}

@font-face {
    font-family: 'Rajdhani';
    src: url('Rajdhani.ttf') format('truetype');
}

@font-face {
    font-family: 'Ranga';
    src: url('Ranga.ttf') format('truetype');
}

@font-face {
    font-family: 'Rhodium Libre';
    src: url('RhodiumLibre.ttf') format('truetype');
}

@font-face {
    font-family: 'Rozha One';
    src: url('RozhaOne.ttf') format('truetype');
}

@font-face {
    font-family: 'Sahitya';
    src: url('Sahitya.ttf') format('truetype');
}

@font-face {
    font-family: 'Sarala';
    src: url('Sarala.ttf') format('truetype');
}

@font-face {
    font-family: 'Sarpanch';
    src: url('Sarpanch.ttf') format('truetype');
}

@font-face {
    font-family: 'Sumana';
    src: url('Sumana.ttf') format('truetype');
}

@font-face {
    font-family: 'Sura';
    src: url('Sura.ttf') format('truetype');
}

@font-face {
    font-family: 'Teko';
    src: url('Teko.ttf') format('truetype');
}

@font-face {
    font-family: 'Tiliana';
    src: url('Tillana.ttf') format('truetype');
}

@font-face {
    font-family: 'Tiro Devanagari Hindi';
    src: url('TiroDevanagariHindi.ttf') format('truetype');
}

@font-face {
    font-family: 'Tiro Devanagari Marathi';
    src: url('TiroDevanagariMarathi.ttf') format('truetype');
}

@font-face {
    font-family: 'Tiro Devanagari Sanskrit';
    src: url('TiroDevanagariSanskrit.ttf') format('truetype');
}

@font-face {
    font-family: 'Vesper Libre';
    src: url('VesperLibre.ttf') format('truetype');
}

@font-face {
    font-family: 'Yantramanav';
    src: url('Yantramanav.ttf') format('truetype');
}

@font-face {
    font-family: 'Yatra One';
    src: url('YatraOne.ttf') format('truetype');
}

@font-face {
    font-family: '0001 ARAP  BK';
    src: url('0001 ARAP  BK.ttf') format('truetype');
}

@font-face {
    font-family: '001  Arap Graphic';
    src: url('001  Arap Graphic.TTF') format('truetype');
}

@font-face {
    font-family: '0012  ARAP  BI';
    src: url('0012  ARAP  BI.ttf') format('truetype');
}

@font-face {
    font-family: '0012  ARAP';
    src: url('0012  ARAP.ttf') format('truetype');
}

@font-face {
    font-family: '0017  ARAP';
    src: url('0017  ARAP.TTF') format('truetype');
}

@font-face {
    font-family: '003 ARAP';
    src: url('003 ARAP.ttf') format('truetype');
}

@font-face {
    font-family: 'Aakriti';
    src: url('Aakriti.ttf') format('truetype');
}

@font-face {
    font-family: 'Abhinav';
    src: url('Abhinav.TTF') format('truetype');
}

@font-face {
    font-family: 'Ananda Devanagari KTM';
    src: url('Ananda Devanagari KTM.ttf') format('truetype');
}

@font-face {
    font-family: 'Ananda Devanagari NP';
    src: url('Ananda Devanagari NP.ttf') format('truetype');
}

@font-face {
    font-family: 'Ananda Fanko 2';
    src: url('Ananda Fanko 2.ttf') format('truetype');
}

@font-face {
    font-family: 'Ananda Lipi Bold Bt';
    src: url('Ananda Lipi Bold Bt.ttf') format('truetype');
}

@font-face {
    font-family: 'Ananda Lipi Bold Cn Bt';
    src: url('Ananda Lipi Bold Cn Bt.ttf') format('truetype');
}

@font-face {
    font-family: 'Ananda Lipi Bt';
    src: url('Ananda Lipi Bt.ttf') format('truetype');
}

@font-face {
    font-family: 'Ananda Lipi Cn Bt';
    src: url('Ananda Lipi Cn Bt.ttf') format('truetype');
}

@font-face {
    font-family: 'Ananda Lipi Lt Bt';
    src: url('Ananda Lipi Lt Bt.ttf') format('truetype');
}

@font-face {
    font-family: 'Ananda Thopla Regular';
    src: url('Ananda Thopla Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Ananda Ukaliorali 2 Regular';
    src: url('Ananda Ukaliorali 2 Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Ananda Ukaliorali 3 Regular';
    src: url('Ananda Ukaliorali 3 Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Ananda ukaliorali Regular';
    src: url('Ananda ukaliorali Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Anandaround';
    src: url('Anandaround.TTF') format('truetype');
}

@font-face {
    font-family: 'AnandaSansar';
    src: url('AnandaSansar.TTF') format('truetype');
}

@font-face {
    font-family: 'Anandazz Hv';
    src: url('Anandazz Hv.ttf') format('truetype');
}

@font-face {
    font-family: 'Anandazz Lt';
    src: url('Anandazz Lt.TTF') format('truetype');
}

@font-face {
    font-family: 'ARAP  003';
    src: url('ARAP  003.TTF') format('truetype');
}

@font-face {
    font-family: 'ARAP  006';
    src: url('ARAP  006.ttf') format('truetype');
}

@font-face {
    font-family: 'ARAP 002';
    src: url('ARAP 002.TTF') format('truetype');
}

@font-face {
    font-family: 'ARAP 004';
    src: url('ARAP 004.TTF') format('truetype');
}

@font-face {
    font-family: 'ARAP 008';
    src: url('ARAP 008.TTF') format('truetype');
}

@font-face {
    font-family: 'ARAP 009';
    src: url('ARAP 009.TTF') format('truetype');
}

@font-face {
    font-family: 'ARAP 010 Normal';
    src: url('ARAP 010 Normal.ttf') format('truetype');
}

@font-face {
    font-family: 'ARAP 1111';
    src: url('ARAP 1111.ttf') format('truetype');
}

@font-face {
    font-family: 'ARAP007';
    src: url('ARAP007.TTF') format('truetype');
}

@font-face {
    font-family: 'Bahunbad';
    src: url('Bahunbad.TTF') format('truetype');
}

@font-face {
    font-family: 'Banban BoldItalic';
    src: url('Banban BoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Bantawa';
    src: url('Bantawa.ttf') format('truetype');
}

@font-face {
    font-family: 'Bhaktapur Regular';
    src: url('Bhaktapur Regular.TTF') format('truetype');
}

@font-face {
    font-family: 'Bikrant Bold';
    src: url('Bikrant Bold.TTF') format('truetype');
}

@font-face {
    font-family: 'Bina Bold';
    src: url('Bina Bold.TTF') format('truetype');
}

@font-face {
    font-family: 'Bishwa Calligraphy';
    src: url('Bishwa Calligraphy.ttf') format('truetype');
}

@font-face {
    font-family: 'CV Bihani';
    src: url('CV Bihani.TTF') format('truetype');
}

@font-face {
    font-family: 'CV Gadah';
    src: url('CV Gadah.TTF') format('truetype');
}

@font-face {
    font-family: 'CV Haha';
    src: url('CV Haha.TTF') format('truetype');
}

@font-face {
    font-family: 'CV Rabinbold';
    src: url('CV Rabinbold.TTF') format('truetype');
}

@font-face {
    font-family: 'Deepankar';
    src: url('Deepankar.TTF') format('truetype');
}

@font-face {
    font-family: 'Dev Nep';
    src: url('Dev Nep.TTF') format('truetype');
}

@font-face {
    font-family: 'Gadha';
    src: url('Gadha.TTF') format('truetype');
}

@font-face {
    font-family: 'Ganga 1';
    src: url('Ganga 1.ttf') format('truetype');
}

@font-face {
    font-family: 'Himalayabold Regular';
    src: url('Himalayabold Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Himalli Regular';
    src: url('Himalli Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'KalpanaUttam i';
    src: url('KalpanaUttam i.TTF') format('truetype');
}

@font-face {
    font-family: 'Kam';
    src: url('Kam.TTF') format('truetype');
}

@font-face {
    font-family: 'Kanchan Regular';
    src: url('Kanchan Regular.TTF') format('truetype');
}

@font-face {
    font-family: 'Katmandu Regular';
    src: url('Katmandu Regular.TTF') format('truetype');
}

@font-face {
    font-family: 'khelkud';
    src: url('khelkud.ttf') format('truetype');
}

@font-face {
    font-family: 'Kirti bold';
    src: url('Kirti bold.TTF') format('truetype');
}

@font-face {
    font-family: 'Maiya';
    src: url('Maiya.ttf') format('truetype');
}

@font-face {
    font-family: 'Meghana';
    src: url('Meghana.ttf') format('truetype');
}

@font-face {
    font-family: 'Meghubold';
    src: url('Meghubold.TTF') format('truetype');
}

@font-face {
    font-family: 'MKali';
    src: url('MKali.TTF') format('truetype');
}

@font-face {
    font-family: 'MulChand';
    src: url('MulChand.TTF') format('truetype');
}

@font-face {
    font-family: 'MulRam';
    src: url('MulRam.TTF') format('truetype');
}

@font-face {
    font-family: 'Old Nepali';
    src: url('Old Nepali.ttf') format('truetype');
}

@font-face {
    font-family: 'Pagal';
    src: url('Pagal.TTF') format('truetype');
}

@font-face {
    font-family: 'Pagali';
    src: url('Pagali.TTF') format('truetype');
}

@font-face {
    font-family: 'Parvati';
    src: url('Parvati.ttf') format('truetype');
}

@font-face {
    font-family: 'PawanG';
    src: url('PawanG.TTF') format('truetype');
}

@font-face {
    font-family: 'Preeti';
    src: url('Preeti.TTF') format('truetype');
}

@font-face {
    font-family: 'Ritu';
    src: url('Ritu.TTF') format('truetype');
}

@font-face {
    font-family: 'Rukmini';
    src: url('Rukmini.TTF') format('truetype');
}

@font-face {
    font-family: 'Sapana';
    src: url('Sapana.TTF') format('truetype');
}

@font-face {
    font-family: 'Shangrila Textual';
    src: url('Shangrila Textual.TTF') format('truetype');
}

@font-face {
    font-family: 'Shreenath Bold';
    src: url('Shreenath Bold.TTF') format('truetype');
}

@font-face {
    font-family: 'Suvadin';
    src: url('Suvadin.ttf') format('truetype');
}

@font-face {
    font-family: 'Timila';
    src: url('Timila.ttf') format('truetype');
}

@font-face {
    font-family: 'Unnisha';
    src: url('Unnisha.TTF') format('truetype');
}